# Question 1

In [2]:
import pandas as pd
print(pd.__version__)

1.0.1

# Question 2

In [6]:
import numpy as np
import pandas as pd

arr = np.array(['a','b','c','d'])
print("Normal Array :",arr)

newarr = pd.Series(arr)
print("Series Array :\n",newarr)

Normal Array : ['a' 'b' 'c' 'd']
Series Array :
 0    a
1    b
2    c
3    d
dtype: object

# Question 3

In [7]:
import pandas as pd 
  
  
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
  
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade  Subject  index
0     20CSE29   Amelia                   97     A  Physics      0
1     20CSE49      Sam                   90     A  Physics      1
2     20CSE36     Dean                   70     C  Physics      2
3     20CSE44  Jessica                   82     B  Physics      3

# Question 4

In [11]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sb


df = sb.load_dataset('tips')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Question 5

In [22]:
import pandas as pd 
  
 
df = pd.DataFrame({'Name': ['Geeks', 'Peter', 'James', 'Jack', 'Lisa'], 
                   'Team': ['Boston', 'Boston', 'Boston', 'Chele', 'Barse'], 
                   'Position': ['PG', 'PG', 'UG', 'PG', 'UG'], 
                   'Number': [3, 4, 7, 11, 5], 
                   'Age': [33, 25, 34, 35, 28], 
                   'Height': ['6-2', '6-4', '5-9', '6-1', '5-8'], 
                   'Weight': [89, 79, 113, 78, 84], 
                   'College': ['MIT', 'MIT', 'MIT', 'Stanford', 'Stanford'], 
                   'Salary': [99999, 99994, 89999, 78889, 87779]}, 
                   index =['ind1', 'ind2', 'ind3', 'ind4', 'ind5']) 
print(df, "\n") 
  
print("Check PG values in Position column:\n") 
df1 = df['Position'].str.contains("PG") 
print(df1)

       Name    Team Position  Number  Age Height  Weight   College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89       MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79       MIT   99994
ind3  James  Boston       UG       7   34    5-9     113       MIT   89999
ind4   Jack   Chele       PG      11   35    6-1      78  Stanford   78889
ind5   Lisa   Barse       UG       5   28    5-8      84  Stanford   87779

Check PG values in Position column:

ind1     True
ind2     True
ind3    False
ind4     True
ind5    False
Name: Position, dtype: bool

# Question 6

In [23]:
import pandas as pd  
    

df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")  
  
  
df1 = df[df['Position'].str.contains("PG") & df['College'].str.contains('UC')] 
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
142,Darren Collison,Sacramento Kings,7.0,PG,28.0,6-0,175.0,UCLA,5013559.0
264,Jordan Farmar,Memphis Grizzlies,4.0,PG,29.0,6-2,180.0,UCLA,NaN
290,Jrue Holiday,New Orleans Pelicans,11.0,PG,25.0,6-4,205.0,UCLA,10595507.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0